.payment-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding-left: 100px;
  }
  
  .payment-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .payment-options {
    margin-bottom: 10px;
  }
  
  .payment-option {
    background-color: #766d8f;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .payment-option.selected {
    background-color: #02030d;
    color: #fff;
  }
  
  .payment-details {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
 .proceed-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 150px;
  }
  
  button:hover {
    background-color: #acb6b6;
  }
  