
  .payment-form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
   
  }
  
  .payment-form.row {
    display: flex;
    justify-content: space-between;
  }
  
  .payment-form.column {
    flex: 1;
    margin-right: 10px;
  }
  .payment-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .payment-form input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  .payment-form input[type="text"]:focus {
    outline: none;
    border-color: #3498db;
  }
  
  .submit-button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 350px;
  }
  
  .submit-button:hover {
    background-color: #2980b9;
  }
  .card-number-input {
    width: 100%;
  }
  
  .payment-form.expiry-input,
  .payment-form.cvv-input {
    width: calc(50% - 5px);
  }
  
  .payment-form.column {
    flex: 1;
    margin-right: 30px;
  }